.code-container {
}

    /* multiply real values by 0.8*/
    .code-container:hover .bar-1 {
        /* REAL: 9783*/
        width: 780px;
    }

    .code-container:hover .bar-2 {
        /* REAL: 7490*/
        width: 600px;
    }

    .code-container:hover .bar-3 {
        /* REAL: 300+ (ROUND UP)*/
        width: 150px;
    }

.bar {
    width: 150px;
    height: 70px;
    margin: 5px 0;
    padding: 5px;
    color: white;
    background: rgba(49,151,220,1);
    background: -moz-linear-gradient(top, rgba(49,151,220,1) 0%, rgba(0,132,214,1) 50%, rgba(0,116,194,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,151,220,1)), color-stop(50%, rgba(0,132,214,1)), color-stop(100%, rgba(0,116,194,1)));
    background: -webkit-linear-gradient(top, rgba(49,151,220,1) 0%, rgba(0,132,214,1) 50%, rgba(0,116,194,1) 100%);
    background: -o-linear-gradient(top, rgba(49,151,220,1) 0%, rgba(0,132,214,1) 50%, rgba(0,116,194,1) 100%);
    background: linear-gradient(to bottom, rgba(49,151,220,1) 0%, rgba(0,132,214,1) 50%, rgba(0,116,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3197dc', endColorstr='#0074c2', GradientType=0 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: right;
}

.bar-1 {
    -webkit-transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -o-transition: 3s ease-in;
    transition: 3s ease-in;
}

.bar-2 {
    -moz-transition: 3s ease;
    -o-transition: 3s ease;
    -webkit-transition: 3s ease;
    transition: 3s ease;
}

.bar-3 {
    -webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}

.line-count {
    margin-left: 10px;
}
