.center-text {
    text-align: center;
}

.db-container {
    width: 150px;
    background-color: #ECECEC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.db-title-b2b {
    position: relative;
    top: 46px;
    font-size: medium;
    font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
    margin: 5px;
}

.oval {
    width: 50px;
    height: 22px;
    -webkit-border-radius: 50px / 25px;
    -moz-border-radius: 50px / 12.5px;
    border-radius: 50px / 12.5px;
    background-image: linear-gradient(to right, #DEDEDE 0%, #9E9E9E 100%);
    margin-left: 36px;
}

.oval-first {
    opacity: 1;
}

.oval-rest {
    position: relative;
    /*opacity: 1;*/
    opacity: 0;
}

.cap {
    width: 50px;
    height: 10px;
    -moz-border-radius: 50px / 12.5px;
    -webkit-border-radius: 50px / 12.5px;
    border-radius: 50px / 12.5px;
    background-image: radial-gradient( #EAEAEA, silver );
}

.cap-first {
    background-image: radial-gradient( #EAEAEA, silver );
}

.cap-first-shadow {
    position: relative;
    top: -10px;
    background-image: radial-gradient( #616161, #DADADA );
    opacity: 0;
}

.db-container:hover .cap-first-shadow {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.cap-shadow {
    background-image: radial-gradient( #616161, #DADADA );
    opacity: 0;
}

.cap-last {
    width: 50px;
    height: 10px;
    -moz-border-radius: 50px / 12.5px;
    -webkit-border-radius: 50px / 12.5px;
    border-radius: 50px / 12.5px;
    background-image: radial-gradient( #EAEAEA, silver );
}

.spacer {
    padding-bottom: 10px;
}
